body {
    margin: 10px;
}


main {
    width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(113,220,251);
    background: linear-gradient(180deg, rgba(113,220,251,1) 0%, rgba(157,230,251,1) 35%, rgba(241,244,245,1) 100%);
} 

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px;
    width: 85%;
	height: 80%;
	background-color: #11012d;
	box-shadow: 4px 4px 12px #000000;
	padding: 15px;
}


.first {
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    background: purple;
}

.second {
    grid-row: 1 / 1;
    grid-column: 2 / 4;
    background: purple;
}

.third {
    grid-row: 1 / 1;
	grid-column: 3 / 4;
    background: purple;
}

.fourth {
    grid-row: 1 / 1;
	grid-column: 4 / 5;
    background: purple;
}


.fifth {
    grid-row: 2 / 2;
	grid-column: 1 / 2;
    background: purple;
} 

.sixth {
    grid-row: 2 / 2;
	grid-column: 2 / 3;
    background: purple;
}

.seventh {
    grid-row: 2 / 2;
	grid-column: 3 / 4;
    background: purple;
}

.eigth {
    grid-row: 2 / 2;
	grid-column: 4 / 5;
    background: purple;
}

.ninth {
    grid-row: 3 / 3;
	grid-column: 1 / 2;
    background: purple;
}

.tenth {
    grid-row: 3 / 3;
	grid-column: 2 / 3;
    background: purple;
}


.eleventh {
    grid-row: 3 / 3;
	grid-column: 3 / 4;
    background: purple;
}

.twelfth {
    grid-row: 3 / 3;
	grid-column: 4 / 5;
    background: purple;
}

.thirteenth {
    grid-row: 4 / 4;
    grid-column: 1 / 2;
    background: purple;
}

.fourteenth {
    grid-row: 4 / 4;
    grid-column: 2 / 3;
    background: purple;
}

.fifteenth {
    grid-row: 4 / 4;
    grid-column: 3 / 5;
    background: purple;
}

.sixteenth {
    grid-row: 4 / 4;
    grid-column: 4 / 5;
    background: purple;
}

